<app-home></app-home>
<hr>
<h2 class="mb-5 mt-3">Reservations List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>CheckInDate</th>
            <th>CheckOutDate</th>
            <th>Room Number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let res of reservations">
            <td>{{res.guestName}}</td>
            <td>{{res.guestEmail}}</td>
            <td>{{res.checkInDate}}</td>
            <td>{{res.checkOutDate}}</td>
            <td>{{res.roomNumber}}</td>
            <td>
                <button class="btn btn-danger btn-sm mx-1 my-1" (click)="deleteReservation(res.id)">Delete</button>
                <button class="btn btn-secondary btn-sm mx-1 my-1" [routerLink]="['/edit', res.id]">Edit</button>
            </td>

        </tr>
    </tbody>
</table>
<ul *ngIf="reservations.length; else noReservation">

</ul>
<ng-template #noReservation>
    <p>No reservations available.</p>
</ng-template>