<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Check-In Date:</label>
        <input type="date" formControlName="checkInDate">
        <div *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">Please
            enter checkIn page</div>
    </div>
    <div>
        <label>Check-Out Date:</label>
        <input type="date" formControlName="checkOutDate">
        <div *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">Please
            enter checkOutDate page</div>
    </div>
    <div>
        <label>Guest Name:</label>
        <input type="text" formControlName="guestName">
        <div *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">Please
            enter guestName page</div>
    </div>
    <div>
        <label>Email:</label>
        <input type="email" formControlName="guestEmail">
        <div *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">Please
            enter guestEmail page</div>
    </div>
    <div>
        <label>Room Number:</label>
        <input type="number" formControlName="roomNumber">
        <div *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">Please
            enter roomNumber page</div>
    </div>
    <button type="submit" [disabled]="reservationForm.invalid">Submit</button>
</form>